$padding: 16px;
$main-color: #00ADB5;
$background: #e6f7ff;
$text-color: #1890ff;
$border-color: #eee;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
}

pre {
  font-family: "Fira Code Medium", Consolas, monospace;
  padding: $padding;
  width: 600px;
}

.site-page {
  background: #fff;
  min-height: 100vh;
}

.site-main {
  padding-top: $padding;
  padding-left: $padding;
}

.site-header {
  background: $border-color;
  padding: 8px 0;

  .logo {
    padding: 0 $padding;
    display: flex;
    align-items: center;

    > img {
      margin-right: 8px;
    }

    > span {
      color: #00ADB5;
      font-size: 32px;
    }
  }
}

.site-aside {
  border-right: 1px solid #eee;
  h2 {
    padding: 8px;
    font-size: 18px;
  }

  ul {
    min-width: 12em;

    > li {
      a {
        color: #333;
        padding: 8px $padding;
        display: block;

        &:hover {
          color: $text-color;
        }

        &.active {
          color: $text-color;
          background: $background;
        }
      }
    }
  }
}

.site-footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: $padding 0;
  border-top: 1px solid $border-color;
}

.example {
  padding: $padding 0;
}
